<!DOCTYPE html>
<html>
<head>
	<title>EAT DA BURGER!</title>

	<!-- Bootstrap styling -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- CSS Link -->
	<link rel="stylesheet" href="../assets/css/burger_style.css">
</head>
<body>

<div class="container">
  <!-- Burger Image -->
      
        <div class="row">
          <img src="/assets/img/hamburger.png" alt="burger" class="mx-auto d-block" style="width: 30%;height: 30%;">
        </div>
      

      <!-- Page Title -->
      <center>
        <h1 class="red_font">EAT DA BURGER!</h1>
      </center>
      <br>

	<!-- index.handlebar content -->
	
	{{{body}}}


</div>
</body>
</html>